 <!DOCTYPE html>
	<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>
{{$name := .Name}}
{{$age := .Age}}
<h1> Hi My name is {{$name}} </h1>
<h2> and my age is {{$age}} </h2>
</body>
</html>