<!DOCTYPE html>
	<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>

<h1> {{.Name}} <h1>
<h1> {{.Age}} <h1>
{{if .Engineeer}}
<h3>I am an Engineer</h3>
{{else}}
<h3>nothing to print</h3>
{{end}}

</body>
</html>