<!DOCTYPE html>
	<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>
<ul>
{{range .Per}}
<li>My name is {{.Ename}} and my Salary is {{.Salary}} :)</li>
{{end}}
</ul>
<ul>
{{range .Con}}
<li>My name is {{.Ename}} and my Salary is {{.Salary}} :(</li>
{{end}}
</ul>
</body>
</html>