 <!DOCTYPE html>
	<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>
<ul>
{{range .}}
<li>My name is {{.Name}} is {{.Age}} </li>
{{end}}
</ul>
</body>
</html>