<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Template</title>
</head>
    <body>
        <h1>Name is {{ .Name }} Age is {{ .Age}}</h1>
        {{ .Caption }}
    </body>
</html>